
body {
    background-color: #efe5d0;
    font-family:      Georgia, "Times New Roman", Times, serif;
    margin:           0px;
    font-size: 80%;
}

label, input {
    display:block;
}

input.text {
    margin-bottom:12px;
    width:95%;
    padding: .4em;
}

fieldset {
    padding:0;
    border:0;
    margin-top:25px;
}

.ui-dialog .ui-state-error {
    padding: .3em;
}
.validateTips {
    border: 1px solid transparent;
    padding: 0.3em;
}

#all {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

h1 {
    font-size: 150%;
}

#head1{
    font-size: 190%;
    position: relative;
    top: 35px;
    left: 25px;
    z-index: 1;
}

#head2{
    font-size: 190%;
    position: relative;
    top: -8px;
    left: 265px;
    z-index: 1;
}

#loginFB{
    font-size: 150%;
    position: relative;
    top: -245px;
    left: 800px;
    z-index: 1;
}

#box1{
    position: relative;
    top: -78px;
    left: 10px;
    width: 230px;
    height: 88px;
    z-index: 0;
    background-color: #efe5d0;
}

#box2{
    position: relative;
    top: -166px;
    left: 250px;
    width: 230px;
    height: 88px;
    z-index: 0;
    background-color: #efe5d0;
}


h2 { font-size: 130%; }

div#tableContainer {
    display: table;
    border-spacing: 3px;
    margin-left: 7px;
    margin-right: 7px;
}

div#tableRow {
    display: table-row;
}

header{
    background-color: #fefefe;
    margin: 10px 10px 0px 10px;
    height: 108px;
}

a:link {
    color:            #b76666;
    text-decoration:  none;
}

a:visited {
    color:            #675c47;
    text-decoration:  none;
}

li.selected {
    background-color: #efe5d0;
}

nav {
    background-color: #fefefe;
    margin: 10px 10px 0px 10px;
}
nav ul {
    margin: 0px;
    list-style-type: none;
    padding: 5px 0px 5px 0px;
}

nav ul li {
    display: inline;
    padding: 5px 10px 5px 10px;
    font-size: 130%;
}

section#searchFood {
    display: table-cell;
    background-color: #fefefe;
    width: 30%;
    padding: 15px;
    'vertical-align: top;
}


section#consumedToday {
    display: table-cell;
    background-color: #fefefe;
    width: 30%;
    padding: 15px;
    'vertical-align: top;
}

aside {
    display: table-cell;
    background-color: #fefefe;
    padding: 15px;
    'vertical-align: top;
}

footer {
    background-color: #fefefe;
    color: #000000;
    text-align:       center;
    padding:          15px;
    margin: 0px 10px 10px 10px;
    font-size:        90%;
}

.form_pad{
    padding-left: 15px;
    padding-right: 15px;
}

.roundConers{
    border-radius: 5px;
}

button {
    margin: 5px 0px 5px 0px;
}

.sections {
    margin: 5px 0px 5px 0px;
    font-size: 100%;
    height: 17px;
}

#result, #totalConsumed {
    width: 285px;
    height: 300px;
    margin: 5px 0px 5px 0px;
    font-size: 12px;
    border-radius: 5px;
}

#datapicker {
    disabled: disabled;
}
