
body {
    background-color: #cfcfcf;
    font-family:      Georgia, "Times New Roman", Times, serif;
    font-size:        medium;
    margin:           0px;
}

h1 {
    font-size:        150%;
}

#head1{
    font-size: 150%;
    position: absolute;
    top: 30px;
    left: 30px;
}

#head2{
    font-size: 150%;
    position: absolute;
    top: 30px;
    left: 285px;
}

#box1{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 230px;
    height: 88px;
    background-color: #efe5d0;
    transition: transform 1s;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    -ms-transition: ms-transform 1s;
}

#box2{
    position: absolute;
    top: 20px;
    left: 260px;
    width: 230px;
    height: 88px;
    background-color: #efe5d0;
    transition: transform 1s;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    -ms-transition: ms-transform 1s;
}



#box1:hover, #box2:hover{
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
}



h2 { font-size: 130%; }

div#tableContainer {
    display: table;
    border-spacing: 10px;
}

div#tableRow {
    display: table-row;
}

header{
    background-color: #fefefe;
    margin: 10px 10px 0px 10px;
    height: 108px;
}

a:link {
    color:            #b76666;
    text-decoration:  none;
}

a:visited {
    color:            #675c47;
    text-decoration:  none;
}

li.selected {
    background-color: #cfcfcf;
}

nav {
    background-color: #fefefe;
    margin: 10px 10px 0px 10px;
}
nav ul {
    margin: 0px;
    list-style-type: none;
    padding: 5px 0px 5px 0px;
}

nav ul li {
    display: inline;
    padding: 5px 10px 5px 10px;
    font-size: 130%;
}

section#searchFood {
    display: table-cell;
    background-color: #fefefe;
    width: 20%;
    padding: 15px;
    vertical-align: top;
    height: 700px;
}

section#consumedToday{
    display: table-cell;
    background-color: #fefefe;
    padding: 15px;
    vertical-align: top;
    height:  700px;
}

aside{
    display: table-cell;
    background-color: #fefefe;
    padding: 15px;
    vertical-align: top;
    height: 700px;
}

footer {
    background-color: #fefefe;
    color: #000000;
    text-align:       center;
    padding:          15px;
    margin: 0px 10px 10px 10px;
    font-size:        90%;
}

.form_pad{
    padding-left: 15px;
    padding-right: 15px;
}